
 /*
 - Go through and clean up padding and margins. I feel like I'm relying heavily on very small pieces of this instead of tackling it as a bigger structure
 - Spacing still looks off but it looks like the spec for the most part. Want to work on the js now and come back to css
 - Need to fix the add button design. JS functionality messed it up.
 */
 
 * {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Smythe', serif;
} 

.root {
    width: 30rem;
    height: 58rem;
    margin: auto;
    min-height: 100vh;
}

/* Button style */
.item-add:hover,
.remove:hover,
.complete:hover {
    cursor: pointer;
}


/* Heading styles */
h2 {
    font-size: 1.1rem;
}

h1, h2 {
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

/* Section Spacing */
.menu, 
.order,
.price {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    padding: 2.85rem 1.8rem;
}

/* Diner Heading */
header {
    color: white;
    height: 8.5rem;
    padding: 2em;
    background-image: url(./images/burger-pic.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

/* Menu Items */
.item {
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

hr {
    width: 100%;
    height: 0.05rem;
    border: none;
    background-color: #D2D2D2;
}

.item-emoji {
    font-size: 4rem;
    opacity: 0.65;
}

.item-text {
    width: 10rem;
    margin-left: 1.5rem;
    font-size: 0.8rem;
}

.item-ingredients {
    color: #8B8B8B;
    line-height: 2.2;
}

.item-price {
    font-size: 1rem;
}

.item-add {
    margin-left: auto;
    background-color: transparent;
    border: 0.075rem solid #DEDEDE;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.3rem;
    font-family: 'Inter';
    font-size: 1.25rem;
    color: #3C3C3C;
    text-align: center;
    padding: 0.35em
  }

  .hidden{
    display: none;
  }


  /* Order */
 .order {
    padding: 0 1.8rem 2.85rem;
 }

 .order-title {
    text-align: center;
 }

 .order-items-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
 }

 .order-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 }

 .quantity {
    margin-left: 0.5em;
 }

 .order-item-price {
    margin-left: auto;
 }

 .remove {
    font-family: 'Verdana';
    font-size: 0.6rem;
    color: #BBBBBB;
    background: transparent;
    border: none;
 }

 .break {
    flex-basis: 100%;
    height: 0;
  }

 .order > hr {
    background-color: #393333;
    height: 0.1rem;
 }
 


 /* Total Price */
.price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.price > p {
    margin-left: auto;
}

.complete {
    width: 26.5rem;
    height: 3rem;
    background: #16DB99;
    color: #FFFFFF;
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 0.8rem;
    border: none;
    border-radius: 0.15rem;
}

/* Payment Modal */
.payment {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 26.2rem;
    height: 27.1rem;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
    background: #FFF;
    font-family: 'Verdana';
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

form > h3 {
    margin: 2.3rem 0 1.15rem;
    font-weight: 700;
    font-size: 1.2rem;
}

input {
    width: 24rem;
    height: 3.55rem;
    font-size: 1rem;
    color: #757575;
    padding: 1em;
}

.pay-btn {
    color: #FFF;
    width: 23.8rem;
    height: 3.55rem;
    background: #16DB99;
    border-radius: 0.2rem;
    font-weight: 700;
    font-size: 1rem;
    margin: 1.25rem;
}
