html {
    font-size: 20px;
}

body {
    margin: 0;
    font-family: 'Smythe', serif;
} 

/* Diner Heading */
header {
    color: white;
    height: 14rem;
    position: relative;
}

header::before {    
    content: "";
    background-image: url(./images/burger-pic.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
}

.header-text {
    padding: 1rem;
    position: relative;
}

h1{ 
    font-size: 3rem;
    margin: 0;
}

h1, h2 {
    font-weight: 400;
}

/* Menu Items */
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

hr {
    width: 90%;
    height: 1px;
    border: none;
    background-color: #D2D2D2;
}

.item-emoji, 
i.fa-plus {
    font-size: 3rem;
    opacity: 0.65;
    font-style: normal;
}

.item-text {
    width: 10rem;
}